.conteiner{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 12rem;
    margin: .5rem;
    border-radius: .4rem;
    background-color: #141a3588;
    color: e2e2e2;
    flex: 0 1 auto;
    backdrop-filter: blur(5px);
    filter: contrast(90%);
    animation: blur .5s ease-in-out;
}


.conteiner:hover{
    filter: contrast(130%);
}

.information{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: 0;
}

.primary{
	font-size: 1rem;
}

.secondary{
    font-size: .9rem;
}

.flag{
    height: 4rem;
    margin: .5rem .5rem .1rem;
    padding: .5rem 3rem;
}

.link{
	text-decoration: none;
    color: #e2e2e2;
}

.link:link, .link:visited, .link:active{
	text-decoration: none;
} 


@keyframes blur{
    0%{
        filter: blur(100px);
    }
    100%{
        filter: blur(0px);
    }
}
