.back{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.header{
	display: flex;
	height: auto;
	width: 100%;
	padding: 1rem 0rem;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.title{
	font-size: 1.5rem;
	font-weight: 400;
	margin-right: 1rem;
	color: #e2e2e2;
}

