.main{
	display: flex;
	flex-flow: column nowrap;
	/*background-color: red;*/
}

.mainTitle{
	font-size: 3rem;
	font-weight: 300;
	margin: 2rem 0rem .5rem;
	color: #e2e2e2;

  animation: scale 3s infinite;
  transform: scale(1.1);
  animation-direction: alternate;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2deg);
  }
}


.join{
	align-self: center;
	margin-top: 1rem;
	padding: .5rem 1rem;
	/*border: .15rem solid #141a35cc;*/
	border-radius: .5rem;
	background-color: #141a35;
	text-decoration: none;
	color: #e2e2e2;
}

.join:hover{
	color: #141a35;
	background-color: #e2e2e2;
	box-shadow: 0 0 1rem 0 #141a35;
}

